<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bin Temp</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='Chart.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <!--zoom plugin-->
    <script src="{{ url_for('static', filename='chartzoom/hammerjs2.0.8') }}"></script>
    <script src="{{ url_for('static', filename='chartzoom/chartjs-plugin-zoom0.7.4') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
    
    <script>
  $( function() {
	  $( "#aStartDate" ).datepicker({
	  	dateFormat: "yy-mm-dd"
	  });
	  $( "#aEndDate" ).datepicker({
                dateFormat: "yy-mm-dd"
          });
  } );
  </script>
    <!--end zoom plugin-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


 <script>
  $( function() {
	$("#header").load("http://bintemp.com/nav.html");
	$("#footer").load("footer.html");
} );
  </script>

<style>
	#chartCont {
	min-height:500px;
	}
</style>
</head>

<body>
<div id="header"></div>


<!--begin tab-->
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
          <a class="nav-link active" href="#">Line Chart</a>
  </li>
  <li class="nav-item">
  	  <a class="nav-link" href="http://{{ipaddr}}/bin_temperature">My Site:{{siteid}}</a>
  </li>
</ul>

<!--end tabs-->
<br>

<div class="container">
    <div class="container">
	<div class="row">

	    <div class="col">
		<form action="/binapi/linechart" method="post">
		<div class="form-group">
			<!--<label for="start_date">Start Date</label>-->
			<input type="text" autocomplete="off" class="form-control" id="aStartDate" placeholder="Start Date" name="aStartDate">
			<input type="text" autocomplete="off" class="form-control" id="aEndDate" placeholder="End Date" name="aEndDate">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
  		</form>
	    </div>

	    <div class="col">
		Last Sample Time= {{ shortdate }}<br>
		Showing Data From {{ start_date }} to somedate
	    <br>
	    </div>

	</div>
    </div>


    <!--Temp Alarm={{ temp_alarm }}<br>-->

    {%if temp_alarm == "true" %}
    <div class="alert alert-danger text-center">Rapid Rise Detected.<br> At least 3&deg; in one week at 32 or
        below.<br> Check bin.
        <form method="post" action="/bin_temperature/">
            <input class="btn btn-secondary" type="submit" name="clear_alarm" value="Clear Alarm"><br>
        </form>
    </div>
    {% endif %}



<!--begin chart-->
<div class="chart-container">

<canvas id="myChart" height="250"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {

        labels: [{% for date in dates %}'{{ date }}',{% endfor %}] ,

        datasets: [
        {
            label: 'Temp Sensor',
            fill: false,
            data: [{% for temp in temps %}{{ temp }},{% endfor %}],
    	    backgroundColor: 'green',
		    borderColor: "green"
        },
        {
            label: 'Soil Temp',
            fill: false,
            data: [{% for soil in soiltemps %}{{ soil }},{% endfor %}],
	    backgroundColor: "orange",
	    borderColor: "orange"
        },

	{
            label: 'CPU Temp',
            fill: false,
            data: [{% for cpu in cputemps %}{{ cpu }},{% endfor %}],
            backgroundColor: "brown",
            borderColor: "brown"
        },


	{
	label: 'Sensor 1',
	fill: false,
	spanGaps: true,
	data: [{% for sensor in sensor1 %}{{ sensor }},{% endfor %}],
		backgroundColor: 'blue',
		borderColor: "blue"
	},
	{
        label: 'Sensor 2',
        fill: false,
	spanGaps: true,
        data: [{% for sensor in sensor2 %}{{ sensor }},{% endfor %}],
                backgroundColor: 'red',
                borderColor: 'red'
        }

	]
    },
	options: {
	responsive: true,
	scales: {
            yAxes: [{
                    ticks: {
                    beginAtZero: false
                }
            }]
        },

       plugins: {
            zoom: {
                // Container for pan options
                pan: {
                    // Boolean to enable panning
                    enabled: true,

                    // Panning directions. Remove the appropriate direction to disable
                    // Eg. 'y' would only allow panning in the y direction
                    mode: 'xy'
                },

                // Container for zoom options
                zoom: {
                    // Boolean to enable zooming
                    enabled: true,

                    // Zooming directions. Remove the appropriate direction to disable
                    // Eg. 'y' would only allow zooming in the y direction
                    mode: 'xy',
                }
            }
        }



    }
});

            </script>
        </div>
</div>
<br><hr>


    </div>
</body>
</html>
