<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bintemp Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>

  <script>
    $(function() {
      $("#header").load("http://bintemp.com/nav.html");
    });
  </script>


</head>
<body>
	<div id="header"></div>
<div class="container">
	<h2>Dashboard Login</h2>
  <form action="/binapi/login" method="post">
    <div class="form-group">
      <label for="pwd">Site ID</label>
      <input type="text" class="form-control" id="asiteid" placeholder="Enter Site ID" name="asiteid">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{ error }}
</body>
</html>
